{{!-- This is the Handlebars template for the body of the home page --}}

<div class="row justify-content-center "></div>
{{#each posts as |post|}}
<div class="col-12 col-md-11 col-xl-10 mx-auto" style="padding: 5%;"">
<h2><a href=" /posts/{{post.id}}">{{post.title}}</a></h2>
    <p>{{ post.post_content }}</p>
    <p> Created by {{ post.user_id }} <br>
        {{ post.date_created }}</p>
    {{!-- <p> Created by {{post.user_id}} at {{format_date post.createdAt}}</p> --}}
</div>
{{/each}}
</div>